{% extends 'base.html.twig' %}

{% block body %}
    <div class="ms-5">
        <h1>Cookies</h1>

        <p>
            Ce site web utilise des cookies pour améliorer votre expérience lorsque vous naviguez sur le site web. Parmi
            ceux-ci, les cookies classés comme nécessaires sont stockés sur votre navigateur car ils sont essentiels au
            fonctionnement des fonctionnalités de base du site web. Nous utilisons également des cookies tiers qui nous
            aident à analyser et à comprendre comment vous utilisez ce site web. Ces cookies ne seront stockés dans
            votre navigateur qu'avec votre consentement. Vous avez également la possibilité de désactiver ces cookies.
            Mais la désactivation de certains de ces cookies peut affecter votre expérience de navigation.
            <br>
        </p>
        <h2>Nécessaires</h2>
        <p>
            Les cookies nécessaires sont absolument indispensables au bon fonctionnement du site. Cette catégorie
            comprend uniquement les cookies qui assurent les fonctionnalités de base et les fonctionnalités de sécurité
            du site Web. Ces cookies ne stockent aucune information personnelle.
        </p><br>

        <h2>Mesure d'audience</h2>
        <p>Les services de mesure d'audience permettent de générer des statistiques de fréquentation utiles à
            l'amélioration du site.
        </p> <br>

        <h2>Cookies Durée
            <br><br>
            Description
        </h2>
        <h3>
            _ga
        </h3>
        <p>2 years <br>
            This cookie is installed by Google Analytics. The cookie is used to calculate visitor, session, campaign
            data and keep track of site usage for the site's analytics report. The cookies store information anonymously
            and assign a randomly generated number to identify unique visitors.
        </p>


        <h3>
            _gat
        </h3>
        <p>
            1 minute
            This cookies is installed by Google Universal Analytics to throttle the request rate to limit the
            colllection of data on high traffic sites.
        </p>

        <h3>
            _gid
        </h3>
        <p>
            1 day
            This cookie is installed by Google Analytics. The cookie is used to store information of how visitors use a
            website and helps in creating an analytics report of how the wbsite is doing. The data collected including
            the number visitors, the source where they have come from, and the pages viisted in an anonymous form.

        </p>
    </div>
{% endblock %}

