{% extends 'base.html.twig' %}

{% block body %}

<h1>Mentions Légales</h1>
<h4 style="text-align: left;"><strong>Emmaüs Connect</strong></h4>
<p>71 rue Archereau 75019 Paris<br>SIRET N° 79227291600034<br>Directeur de la publication : Marie Cohen-Skalli, Co-directrice</p>

<p>&nbsp;</p>
<h4 style="text-align: left;"><strong>Crédits photos</strong></h4>
<p>Tomas Spit<br>Edouard Houmaire<br>Itaan Silva<br>Ethienne Jouault<br>David Gibon<br>

<p>&nbsp;</p>
<h4 style="text-align: left;"><strong>Hébergement</strong></h4>
<p>OVH<br>2 rue Kellermann<br>59100 Roubaix</p>

{% endblock %}