{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <div class="container-last" style="border-radius: 8px; box-shadow: lightgrey 2px 2px 2px 2px; height:50vh; width:40vw; margin-left:30vw; margin-top:5%; display:flex; flex-direction:column; justify-content:center; align-items:center ">
    <h1>Reset your password</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Reset password</button>
    {{ form_end(resetForm) }}
    </div>
    <div class="e-logoPageFaq d-flex d-flex-row-reverse">
        <img src="{{ asset('/images/logoConnect.png') }}" alt="" class="tata">
    </div>
{% endblock %}
