@import "modules/variables.css";
@import "modules/button.css";
@import "modules/form.css";
@import "modules/card.css";
@import "modules/footer.css";
@import "modules/navbar.css";

*{
    box-sizing: border-box;
}

body {;
    margin: 0;
    padding: 0;
}
.test {
    background-color: blue
}
