<div class="container">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">

            <li class="nav-item"><a href="/mentionLegale" class="nav-link px-2 text-muted">Mentions Légales</a></li>
            <li class="nav-item"><a href="/cookies" class="nav-link px-2 text-muted">Cookies</a></li>
            <li class="nav-item"><a href="/faqPages" class="nav-link px-2 text-muted">FAQs</a></li>
        </ul>
        <p class="text-center text-muted">© Emmaüs Connect</p>
    </footer>
</div>