<nav class="navbar navbar-expand-lg bg-body-white">
    <div class="container-fluid">

        <a class="navbar-brand" href="/"><img class="e-logoBrand" src="{{ asset('/images/logo.png') }}" style="height:100%; width:10vw"></a>

        <div class="collapse navbar-collapse justify-content-center flex-grow-none
" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Ajouter un smartphone</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Stock des smartphones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">EasyAdmin</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end flex-grow-0" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link ">login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ">logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <button class="dropdown-item" type="button">Action</button>
        <button class="dropdown-item" type="button">Another action</button>
        <button class="dropdown-item" type="button">Something else here</button>
    </div>
</div>