/*          TITLE           */
.title-word {
    animation: color-animation 4s linear infinite;
}

.title-word-1 {
    --color-1: #DF8453;
    --color-2: #3D8DAE;
    --color-3: #E4A9A8;
}

.title-word-2 {
    --color-1: #DBAD4A;
    --color-2: #ACCFCB;
    --color-3: #17494D;
}

.title-word-3 {
    --color-1: #ACCFCB;
    --color-2: #E4A9A8;
    --color-3: #ACCFCB;
}

.title-word-4 {
    --color-1: #3D8DAE;
    --color-2: #DF8453;
    --color-3: #E4A9A8;
}

@keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
}

/* END OF TITLE */

.container-brand {
    display: grid;
    place-items: center;
    text-align: center;
    height: 20vh
}

.title-brand {
    font-family: 'Happy Monkey', sans-serif;
    font-weight: 800;
    font-size: 3.5vw;
    text-transform: uppercase;
}
.e-brandBoxPage{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-around;
    width:80vw;
    border-radius:8px;
}

/*      BRAND CIRCLE*/

.e-oneBrandAp{
    border-radius: 50%;
    box-shadow: gray 2px 2px 2px 2px;
    width: 20%;
    height:15vw;
    margin:5% 5%;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: transform .2s;
    background-color:#E53750;
}
.e-oneBrandSs{
    border-radius: 50%;
    box-shadow: gray 2px 2px 2px 2px;
    width: 20%;
    height:15vw;
    margin:5% 5%;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: transform .2s;
    background-color:#FFB84D;
}
.e-oneBrandSn{
    border-radius: 50%;
    box-shadow: gray 2px 2px 2px 2px;
    width: 20%;
    height:15vw;
    margin:5% 5%;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: transform .2s;
    background-color:#FFB84D;
}
.e-oneBrandHw{
    border-radius: 50%;
    box-shadow: gray 2px 2px 2px 2px;
    width: 20%;
    height:15vw;
    margin:5% 5%;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: transform .2s;
    background-color:#00ACB0;
}
.e-oneBrandLg{
    border-radius: 50%;
    box-shadow: gray 2px 2px 2px 2px;
    width: 20%;
    height:15vw;
    margin:5% 5%;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: transform .2s;
    background-color:#00ACB0;
}
.e-oneBrandXm{
    border-radius: 50%;
    box-shadow: gray 2px 2px 2px 2px;
    width: 20%;
    height:15vw;
    margin:5% 5%;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: transform .2s;
    background-color:#2A3A74;
}


.e-oneBrandXm:hover, .e-oneBrandAp:hover, .e-oneBrandSn:hover, .e-oneBrandSs:hover, .e-oneBrandHw:hover, .e-oneBrandLg:hover{
    transform: scale(1.2);
}
.e-logoBrand{
    width : 12vw;
    height: 20vh;
}
.e-color {
    position: absolute;
    z-index: 1;
}
/*      BRAND CIRCLE*/