.e-titleBrand{
    text-align: center;
    margin-top:5%;
    margin-left:5%;
    width:90vw;
    height:5vw;
    display:flex;
    justify-content: center;
    align-items:center;
    border-radius:8px;
}
.e-brandBoxPage{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-around;
    width:80vw;
    border-radius:8px;
    margin-left:10%;
    margin-top:5%;
}

.e-oneBrandAp{
    border-radius: 50%;
    box-shadow: gray 2px 2px 2px 2px;
    width: 20%;
    height:15vw;
    margin:5% 5%;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: transform .2s;
    background-color:#E53750;
}
.e-oneBrandSs{
    border-radius: 50%;
    box-shadow: gray 2px 2px 2px 2px;
    width: 20%;
    height:15vw;
    margin:5% 5%;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: transform .2s;
    background-color:#FFB84D;
}
.e-oneBrandSn{
    border-radius: 50%;
    box-shadow: gray 2px 2px 2px 2px;
    width: 20%;
    height:15vw;
    margin:5% 5%;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: transform .2s;
    background-color:#FFB84D;
}
.e-oneBrandHw{
    border-radius: 50%;
    box-shadow: gray 2px 2px 2px 2px;
    width: 20%;
    height:15vw;
    margin:5% 5%;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: transform .2s;
    background-color:#00ACB0;
}
.e-oneBrandLg{
    border-radius: 50%;
    box-shadow: gray 2px 2px 2px 2px;
    width: 20%;
    height:15vw;
    margin:5% 5%;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: transform .2s;
    background-color:#00ACB0;
}
.e-oneBrandXm{
    border-radius: 50%;
    box-shadow: gray 2px 2px 2px 2px;
    width: 20%;
    height:15vw;
    margin:5% 5%;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: transform .2s;
    background-color:#2A3A74;
}


.e-oneBrandXm:hover, .e-oneBrandAp:hover, .e-oneBrandSn:hover, .e-oneBrandSs:hover, .e-oneBrandHw:hover, .e-oneBrandLg:hover{
    transform: scale(1.2);
}
.e-logoBrand{
    width : 12vw;
    height: 20vh;
}
.e-color {
    position: absolute;
    z-index: 1;
}