.e-brandBoxPage{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
}
.e-titleBrand{
    background-color: #61BDFF;
    opacity: 11%;
}
.e-oneBrand{
    width:100%;
    height:20%;
    border-radius:8px;
    box-shadow: gray 2px 2px;
}