/*
.e-btn {
    Border-radius: ;
    Color: ;
    background: ;
    font-family: ;
    border: none;
    font-size: 1.25rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    line-height: 1.625rem;
    justify-content: center;
    width: 14.75rem;
    height: 2.125rem;
    margin-top: 50px;
}*/
