
.form-check-input {
    width: 200px;
    height: 64px;
    padding: 0;
    background: #2A3A74;
}
.form-check-input[type="radio"]{
    border-radius: 5px;
    margin: 0;
}
/*.form-check{
    display: flex;
    flex-direction: column;
}*/
#telephone_model,
#telephone_RAM,
#telephone_memory,
#telephone_network,
#telephone_status{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.test2{
    border: 1px solid red;
}
.test3{
    text-align: center;
}

/*.form-check-label{
     position: relative;
    color: white;
    top: -42px;
    right: -25px;
}*/
.my-custom-checkbox-label {
    /* Styles personnalisés */
    color: white;
    margin: 5px;
    display: flex;
    justify-content: center;
    position: relative;
    top: -48px;

}
.form-check .form-check-input{
    float: none;
}
.form-check-input:checked{
    background: #788BCE;
    border: none;
}
.col-form-label{
    color: black !important;
    top: -4px !important;
    font-size: 2rem;
}
.my-custom-checkbox-label1{
    display: flex;
    position: relative;
    color: white;
    top: -42px;
    left: 83px;
}
.my-custom-checkbox-label2{
    color: black;
}
.e-img{
    width: 50%;
}
.e-form{
    width: 80%;
}
.e-width{
    width: 30%;
    position:sticky;
}

.my-custom-input-class {
    width: 200px;
    height: 200px;
    color: green;
}
#telephone_cable_charger {
    display: flex;
}
fieldset legend{
    font-family: 'Belanosima', sans-serif;
}
.my-custom-checkbox-label1{
    margin-left:10%;
}
.form-check .form-check-label{
    margin-left:0;
}
.vh-100 form{
    margin-top:10%;
}
.vh-100{
    margin-left:10%;
    margin-right:10%;
}
.mb-3 .my-custom-checkbox-label{
    margin-top:3%;
}

.e-icon1{
    /* position: absolute; */
    right: -338px;
    /* top: 121px; */

}

/* .e-icon2{
    position: absolute;
    top: 1255px;
    right: 424px;
} */

/* .e-icon3{
    position: absolute;
    right: 424px;
} */

.e-dropTest{
    overflow-wrap: break-word;
    /* word-wrap: break-word; */
    white-space: initial;
}

.e-buttom-faq{
    color:rgba(0, 39, 67, 1);
}
#telephone_network{
    display:flex;
    justify-content: space-around;
    width:110%;
    margin-left:-3%;
}
.vh-100 .mb-3{
    width:100%;
}
#telephone_network .form-check{
    padding-left:0%;
}
