/*
.e-form-input {
    background: $iv-main-white;
    border: 1px solid $iv-goldBM;
    border-radius: $iv-border-radius;
    font-family: $iv-text-font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    display: flex;
    align-items: center;

::placeholder {
    padding-left: 10px;
}
}*/
