
/*

.e-form-input {
    background: $iv-main-white;
    border: 1px solid $iv-goldBM;
    border-radius: $iv-border-radius;
    font-family: $iv-text-font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    display: flex;
    align-items: center;

::placeholder {
    padding-left: 10px;
}

}*/

.form-check-input {
    width: 200px;
    height: 64px;
    padding: 0;
}
.form-check-input[type="radio"]{
    border-radius: 5px;
    margin: 0;
}
/*.form-check{
    display: flex;
    flex-direction: column;
}*/
#telephone_model,
#telephone_RAM,
#telephone_memory,
#telephone_network,
#telephone_status{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.test2{
    border: 1px solid red;
}
.test3{
    text-align: center;
}

/*.form-check-label{
     position: relative;
    color: white;
    top: -42px;
    right: -25px;
}*/
.my-custom-checkbox-label {
    /* Styles personnalisés */
    color: white;
    margin: 5px;
    display: flex;
    justify-content: center;
    position: relative;
    top: -48px;

}
.form-check .form-check-input{
    float: none;
}
.form-check-input:checked{
    background: yellow;
}
.col-form-label{
    color: black !important;
    top: -4px !important;
}
.my-custom-checkbox-label1{
    display: flex;
    position: relative;
    color: white;
    top: -42px;
    left: 83px;
}
.my-custom-checkbox-label2{
    color: black;
}
.e-img{
    width: 50%;
}
.e-form{
    width: 80%;
}
.e-width{
    width: 30%;
    position:sticky;
}

.my-custom-input-class {
    width: 200px;
    height: 200px;
    color: green;
}